@use '/src/sass/abstracts/'as *;

:root {
   --fs-350: 0.75rem;
   --fs-400: 1rem;
   --fs-425: 1.25rem;
   --fs-450: 1.5625rem;
   --fs-500: 2.25rem;
   --fs-600: 2.625rem;
   --fs-700: 3rem;

   // @media(min-width:$sm) {

   //    --fs-600: 2rem;
   //    --fs-650: 2rem;
   //    --fs-700: 3rem
   // }

   // @media(min-width:$md) {

   //    --fs-600: 2.25rem;
   //    --fs-650: 2.5rem;
   //    --fs-700: 3.75rem
   // }
}