:root {
  --fs-350: 0.75rem;
  --fs-400: 1rem;
  --fs-425: 1.125rem;
  --fs-450: 1.125rem;
  --fs-500: 1.5625rem;
  --fs-600: 1.5625rem;
  --fs-650: 1.5625rem;
  --fs-700: 2rem;
}
@media (min-width: 400px) {
  :root {
    --fs-425: 1.25rem;
    --fs-450: 1.5625rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-650: 2.25rem;
    --fs-700: 2.25rem;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-500: 2.25rem;
    --fs-600: 2.625rem;
    --fs-650: 3.25rem;
    --fs-700: 4rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.et-l--header ul {
  line-height: unset !important;
}
ul {
  padding: 0 !important;
}
.nav-container ul {
  list-style: none !important;
}
.et_pb_section {
  padding: 0;
}
.et_pb_column {
  margin-bottom: 0;
}
.et_pb_row,
.et_pb_module {
  padding: 0;
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: unset;
  padding-bottom: 0;
  line-height: unset;
  font-weight: unset;
  font-size: unset;
}
p {
  padding-bottom: 0;
}
.et_pb_section,
.et_pb_row {
  padding: 0;
}
ul {
  margin-left: 1.75em;
}
small {
  font-size: var(--fs-350);
}
.sm-container {
  --max-width: 1080px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - var(--container-padding) * 2) !important;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .sm-container {
    --container-padding: 3rem;
  }
}
.container-de {
  --max-width: 1500px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - var(--container-padding) * 2) !important;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container-de {
    --container-padding: 3rem;
  }
}
.wide-container {
  --max-width: 1750px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - var(--container-padding) * 2) !important;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .wide-container {
    --container-padding: 3rem;
  }
}
.even-columns {
  display: grid;
}
@media (min-width: 1000px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2rem;
  }
}
.even-columns-xl {
  display: grid;
}
@media (min-width: 1200px) {
  .even-columns-xl {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
  }
}
.order-1 {
  order: 1;
}
@media (max-width: 62.49875em) {
  .order-1-max-lg {
    order: 1;
  }
}
@media (max-width: 74.99875em) {
  .order-1-max-xl {
    order: 1;
  }
}
.order-2 {
  order: 2;
}
@media (max-width: 62.49875em) {
  .order-2-max-lg {
    order: 2;
  }
}
@media (max-width: 74.99875em) {
  .order-2-max-xl {
    order: 2;
  }
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
@media (min-width: 768px) {
  .flex-md {
    display: flex;
    gap: var(--gap, 1rem);
  }
}
@media (min-width: 1000px) {
  .flex-lg {
    display: flex;
    gap: var(--gap, 1rem);
  }
}
@media (min-width: 1200px) {
  .flex-xl {
    display: flex;
    gap: var(--gap, 1rem);
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: column;
}
.flex-col-reverse {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: column-reverse;
}
@media (min-width: 1000px) {
  .flex-col-lg {
    display: flex;
    gap: var(--gap, 1rem);
    flex-direction: column;
  }
}
.flex-col-center {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: column;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
@media (min-width: 400px) {
  .flex-row-sm {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .flex-row-md {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  .flex-row-lg {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .flex-row-xl {
    flex-direction: row;
  }
}
.j-center {
  justify-content: center;
}
.j-space-between {
  justify-content: space-between;
}
.j-space-around {
  justify-content: space-around;
}
.a-items-center {
  align-items: center;
}
@media (min-width: 1000px) {
  .a-items-center-lg {
    align-items: center;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-0 {
  gap: 0;
}
.gap-200 {
  gap: 0.5rem;
}
.gap-400 {
  gap: 1rem;
}
@media (min-width: 48em) {
  .gap-500-min-md {
    gap: 2rem;
  }
}
.gap-500 {
  gap: 2rem;
}
.grid {
  display: grid;
}
@media (min-width: 48em) {
  .grid-cols-3-min-md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.j-items-center {
  justify-items: center;
}
.items-end {
  align-items: flex-end;
}
.abs {
  position: absolute !important;
}
.rel {
  position: relative;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
@media (min-width: 1000px) {
  .text-start-lg {
    text-align: start;
  }
}
.z-200 {
  z-index: 200;
}
.z-300 {
  z-index: 300;
}
.z-400 {
  z-index: 400 !important;
}
.display-lg {
  display: none !important;
}
@media (min-width: 1000px) {
  .display-lg {
    display: block !important;
  }
}
.display-xl {
  display: none !important;
}
@media (min-width: 1200px) {
  .display-xl {
    display: block !important;
  }
}
.display-xxl {
  display: none !important;
}
@media (min-width: 1400px) {
  .display-xxl {
    display: block !important;
  }
}
.display-xxl-5 {
  display: none !important;
}
@media (min-width: 93.75em) {
  .display-xxl-5 {
    display: block !important;
  }
}
.display-flex-lg {
  display: none !important;
}
@media (min-width: 1000px) {
  .display-flex-lg {
    display: flex !important;
  }
}
.display-flex-xl {
  display: none !important;
}
@media (min-width: 1200px) {
  .display-flex-xl {
    display: flex !important;
  }
}
.p-0 {
  padding: 0 !important;
}
.pb-200 {
  padding-bottom: 0.5rem !important;
}
.pb-400 {
  padding-bottom: 1rem !important;
}
@media (min-width: 1000px) {
  .pb-475-lg {
    padding-bottom: 1.75rem;
  }
}
.py-100 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-200 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-400 {
  padding-block: 1rem;
}
.px-200 {
  padding-inline: 0.5rem;
}
@media (max-width: 74.99875em) {
  .py-400-max-xl {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.m-0 {
  margin: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-200 {
  margin-bottom: 0.5rem !important;
}
.mb-400 {
  margin-bottom: 1rem !important;
}
.mb-600 {
  margin-bottom: 2rem;
}
.mb-700 {
  margin-bottom: 3rem;
}
@media (max-width: 1000px) {
  .mb-400-max-lg {
    margin-bottom: 1rem;
  }
}
@media (max-width: 1200px) {
  .mb-400-max-xl {
    margin-bottom: 1rem;
  }
}
@media (max-width: 1000px) {
  .mb-700-max-lg {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1000px) {
  .mb-700-min-lg {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .mb-900-min-xl {
    margin-bottom: 4rem !important;
  }
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-500 {
  margin-top: 2rem;
}
@media (min-width: 75em) {
  .mt-700-min-xl {
    margin-top: 6rem;
  }
}
.m-inline-auto {
  margin-inline: auto !important;
}
@media (max-width: 1000px) {
  .w-100-max-lg {
    width: 100% !important;
  }
}
.max-w-prose {
  max-width: 65ch;
}
.content-space-100 {
  padding: 0.5rem 0 !important;
}
.content-space-150 {
  padding: 1rem 0 !important;
}
.content-space-200 {
  padding: 1rem 0 !important;
}
@media (min-width: 1000px) {
  .content-space-200 {
    padding: 1.5rem 0 !important;
  }
}
.content-space-400 {
  padding: 2rem 0 !important;
}
@media (min-width: 1000px) {
  .content-space-400 {
    padding: 3rem 0 !important;
  }
}
.content-space-500 {
  padding: 2rem 0 !important;
}
@media (min-width: 1000px) {
  .content-space-500 {
    padding: 5rem 0 !important;
  }
}
.content-space-700 {
  padding: 2rem 0 !important;
}
@media (min-width: 1000px) {
  .content-space-700 {
    padding: 10rem 0 !important;
  }
}
@media (min-width: 1000px) {
  .content-space-0-lg {
    padding: 0 !important;
  }
}
@media (min-width: 1000px) {
  .content-space-200-lg {
    padding: 1.5rem 0 !important;
  }
}
.ff-accent {
  font-family: 'Crimson Pro', serif;
}
.fs-425 {
  font-size: var(--fs-425);
}
.fs-450 {
  font-size: var(--fs-450);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-650 {
  font-size: var(--fs-650);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fw-medium {
  font-weight: 500;
}
.fw-semi-bold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}
.clr-primary-400 {
  color: #012c6d;
}
.clr-neutral-100 {
  color: #fff;
}
.clr-neutral-900 {
  color: #000;
}
.span-highlight span {
  color: #ea5e5d;
}
.span-highlight-dark span {
  color: #012c6d;
}
.underline {
  text-decoration: underline;
}
.highlight-a a {
  color: #ea5e5d;
}
.lh-100 {
  line-height: 1;
}
.lh-200 {
  line-height: 1.125;
}
.bgc-primary-300 {
  background-color: #1a4789;
}
.bgc-primary-400 {
  background-color: #012c6d;
}
.bgc-accent-400 {
  background-color: #ea5e5d;
}
.bgc-neutral-700 {
  background-color: #171717;
}
.bgc-primary-gradient {
  background: linear-gradient(359.28deg, #1a4789 11.87%, #000000 194.74%);
}
.clr-neutral-900 {
  color: #000 !important;
}
@media (min-width: 87.5em) {
  .blue-svg-wrapper .top-svg {
    margin-top: -229px;
  }
}
.blue-svg-wrapper .blue-bar {
  min-height: 16px;
  color: #012c6d;
  background-color: #012c6d;
  margin-top: -3px;
  margin-bottom: -3px;
}
@media (min-width: 48em) {
  .blue-svg-wrapper .blue-bar {
    min-height: 50px;
  }
}
.blue-svg-wrapper .bot-svg {
  display: none;
}
@media (min-width: 48em) {
  .blue-svg-wrapper .bot-svg {
    display: unset;
  }
}
@media (min-width: 87.5em) {
  .blue-svg-wrapper .bot-svg {
    margin-bottom: -124px;
    display: unset;
  }
}
@media (min-width: 1800px) {
  .wide-sw-fix {
    margin-top: -2px;
  }
}
@media (min-width: 1800px) {
  .wide-sw-fix-500 {
    margin-top: -5px !important;
  }
}
.blue-bar {
  background-color: #012c6d;
  min-height: 50px;
}
.space {
  min-height: 800px;
}
.btn {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
  border-radius: 7px;
  padding: 0.8em 1.25em !important;
  font-weight: 700;
  line-height: 1;
  font-size: var(--fs-400);
  transform: scale(1);
  transition: transform 200ms ease;
  border: 3px solid #012c6d;
}
.btn:hover,
.btn:focus {
  transform: scale(1.05) translateY(-0.125em);
}
.btn:hover::before,
.btn:focus::before {
  opacity: 0.3;
}
.btn-light {
  color: #012c6d;
  background-color: #fff;
  border: 3px solid #012c6d;
  box-shadow: 0 1.125em 1em -1em #1a4789;
}
.btn-light a {
  color: #012c6d;
}
.btn-dark {
  color: #fff;
  background-color: #012c6d;
  box-shadow: 0 1.125em 1em -1em #1a4789;
}
.btn-dark a {
  color: #fff;
}
.nav-btn {
  cursor: pointer !important;
  text-decoration: none !important;
  text-transform: capitalize !important;
  border: 0;
  border-radius: 7px !important;
  padding: 0 !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  font-size: var(--fs-400) !important;
  transform: scale(1) !important;
  transition: transform 200ms ease !important;
  border: 3px solid #012c6d !important;
}
@media (min-width: 48em) {
  .nav-btn {
    display: inline-flex !important;
  }
}
.nav-btn:hover,
.nav-btn:focus {
  transform: scale(1.05) translateY(-0.125em);
}
.nav-btn:hover::before,
.nav-btn:focus::before {
  opacity: 0.3;
}
.nav-btn-light {
  color: #012c6d !important;
  background-color: #fff !important;
  border: 3px solid #012c6d !important;
  box-shadow: 0 1.125em 1em -1em #1a4789 !important;
}
.nav-btn-light a {
  color: #012c6d !important;
}
.nav-btn-dark {
  color: #fff !important;
  background-color: #012c6d !important;
  box-shadow: 0 1.125em 1em -1em #1a4789 !important;
}
.nav-btn-dark a {
  color: #fff !important;
}
@media (min-width: 768px) {
  .nav-btn-dark {
    margin-right: 1rem !important;
  }
}
.primary-heading {
  font-size: var(--fs-700);
  font-family: 'Crimson Pro', serif;
}
.primary-heading span {
  color: #ea5e5d;
}
@media (min-width: 62.5em) {
  .primary-heading {
    line-height: 1.125;
  }
}
.secondary-heading {
  font-size: var(--fs-600);
  font-family: 'Crimson Pro', serif;
  font-weight: 700;
}
.secondary-heading span {
  color: #ea5e5d;
}
.secondary-heading-light {
  font-size: var(--fs-600);
  font-family: 'Crimson Pro', serif;
  font-weight: 700;
  color: #fff;
}
.secondary-heading-dark {
  font-size: var(--fs-600);
  font-family: 'Crimson Pro', serif;
  font-weight: 700;
  color: #012c6d;
}
.content-heading {
  font-size: var(--fs-500);
  font-family: 'Crimson Pro', serif;
  font-weight: 700;
  line-height: 1.125;
}
.content-heading-light {
  color: #fff;
}
.content-heading-light span {
  color: #012c6d;
}
.content-heading-dark {
  color: #012c6d;
}
.content-heading-dark span {
  color: #ea5e5d;
}
.carousel-section {
  padding: 0 !important;
}
@media (min-width: 75em) {
  .carousel-section {
    margin-bottom: -8.9375rem;
    margin-top: -3.75rem;
  }
}
.carousel-section .et_pb_blurb_0 .et_pb_main_blurb_image .et_pb_image_wrap {
  width: unset;
  min-height: 8.8125rem;
  width: fit-content;
}
.carousel-section .et_pb_blurb_1 .et_pb_main_blurb_image .et_pb_image_wrap {
  width: unset;
  min-height: 8.8125rem;
  width: fit-content;
}
.carousel-section .et_pb_blurb_2 .et_pb_main_blurb_image .et_pb_image_wrap {
  width: unset;
  min-height: 8.8125rem;
  width: fit-content;
}
.carousel-section .et_pb_blurb_3 .et_pb_main_blurb_image .et_pb_image_wrap {
  width: unset;
  min-height: 8.8125rem;
  width: fit-content;
}
.carousel-section .et_pb_blurb_4 .et_pb_main_blurb_image .et_pb_image_wrap {
  width: unset;
  min-height: 8.8125rem;
  width: fit-content;
}
.carousel-section .et_pb_blurb_5 .et_pb_main_blurb_image .et_pb_image_wrap {
  width: unset;
  min-height: 8.8125rem;
  width: fit-content;
}
.carousel-section .et_pb_blurb_6 .et_pb_main_blurb_image .et_pb_image_wrap {
  width: unset;
  min-height: 8.8125rem;
  width: fit-content;
}
.carousel-section .et_pb_blurb_4.et_pb_blurb,
.carousel-section .et_pb_blurb_3.et_pb_blurb,
.carousel-section .et_pb_blurb_5.et_pb_blurb,
.carousel-section .et_pb_blurb_2.et_pb_blurb,
.carousel-section .et_pb_blurb_0.et_pb_blurb,
.carousel-section .et_pb_blurb_1.et_pb_blurb {
  margin-bottom: 1rem !important;
}
@media (min-width: 48em) {
  .carousel-section .et_pb_blurb_4.et_pb_blurb,
  .carousel-section .et_pb_blurb_3.et_pb_blurb,
  .carousel-section .et_pb_blurb_5.et_pb_blurb,
  .carousel-section .et_pb_blurb_2.et_pb_blurb,
  .carousel-section .et_pb_blurb_0.et_pb_blurb,
  .carousel-section .et_pb_blurb_1.et_pb_blurb {
    margin-bottom: 3rem !important;
  }
}
.carousel-section .et_pb_blurb_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-section .et_pb_blurb_content .et_pb_main_blurb_image {
  margin-bottom: 0 !important;
}
.carousel-section .et_pb_blurb_container {
  text-align: center;
}
.carousel-section .et_pb_blurb_container .et_pb_blurb_description p {
  color: #012c6d;
  font-size: var(--fs-450);
  font-weight: 600;
}
.img-rd img {
  border-radius: 26px;
}
.img-rd-200 img {
  border-radius: 10px;
}
.img-shadow img {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-img-size img {
  width: 37.5rem;
}
.content-img-size-500 {
  width: 28.125rem;
}
@media (min-width: 87.5em) {
  .content-img-size-500 {
    width: 37.5rem;
  }
}
.content-img-size-400 {
  width: 15.625rem;
}
@media (min-width: 62.5em) {
  .content-img-size-400 {
    width: 28.125rem;
  }
}
.content-img-size-200 img {
  width: 21.875rem;
}
.content-img-size-100 img {
  width: 12.5rem;
}
.rates-table table,
.rates-table tr,
.rates-table td,
.rates-table th {
  border: 0.25px solid #171717;
}
.rates-table table {
  border-spacing: 0;
  width: 100%;
}
.rates-table table th {
  background-color: #012c6d;
  color: #fff;
  font-size: var(--fs-400);
  font-weight: 400;
  padding: 0.5rem 1rem;
}
.rates-table table th span {
  font-size: var(--fs-400);
}
.rates-table table tr:nth-child(odd) {
  background-color: #ebebeb;
}
.rates-table table td {
  padding: 0.25rem 1rem;
}
.rates-table table td:not(:first-child) {
  text-align: center;
}
@media (min-width: 30em) {
  .rates-table table {
    border-spacing: 0;
  }
  .rates-table table th {
    background-color: #012c6d;
    color: #fff;
    font-size: var(--fs-450);
    font-weight: 400;
  }
  .rates-table table td {
    padding: 0.5rem 1rem;
  }
}
.res-table table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.res-table table,
.res-table tr,
.res-table td,
.res-table th {
  border: 0.25px solid #171717;
}
.res-table th {
  background-color: #012c6d;
  color: #fff;
  font-size: var(--fs-400);
  font-weight: 400;
  padding: 0.5rem 1rem;
}
.res-table td {
  padding: 0.25rem 1rem;
}
@media (min-width: 600px) {
  .res-table table {
    border-spacing: 0;
  }
  .res-table table th {
    background-color: #012c6d;
    color: #fff;
    font-size: var(--fs-425);
    font-weight: 400;
  }
  .res-table table td {
    padding: 0.5rem 1rem;
  }
  .res-table table tr:nth-child(odd) {
    background-color: #ebebeb;
  }
}
@media screen and (max-width: 930px) {
  .res-table table {
    border: 0;
  }
  .res-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .res-table tr {
    background-color: #ebebeb;
  }
  .res-table table tr {
    display: block;
    margin-bottom: 0.625em;
  }
  .res-table table td {
    display: block;
    text-align: right;
  }
  .res-table table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 600;
  }
}
.privacy-table table th {
  padding: 0.25rem 0.5rem;
}
@media (min-width: 400px) {
  .privacy-table table th {
    padding: 0.5rem 1rem;
  }
}
.sp-ea-single {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0 !important;
  border-bottom: 1px solid #d3d3d3 !important;
}
.sp-ea-single a {
  color: #012c6d !important;
  font-size: var(--fs-425);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.sp-ea-single a i {
  color: #012c6d !important;
}
.sp-ea-single .ea-body {
  color: #171717 !important;
}
.modal-window-content {
  font-size: var(--fs-400);
  font-family: 'Poppins', sans-serif;
  color: #171717;
  padding: 0.75rem !important;
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
}
@media (min: 40em) {
  .modal-window-content {
    padding: 1rem 2rem;
  }
}
.modal-window-content h3 {
  font-size: var(--fs-600);
}
.modal-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.btn-modal-cancel {
  background-color: #ea5e5d;
  color: #fff;
}
.btn-modal-continue {
  background-color: #012c6d;
  color: #fff;
}
.li-branding {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue.png');
  margin-left: 2em;
}
.li-branding .first-li {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue-highlight-red.png');
}
.li-branding .none {
  list-style-image: none;
}
.first-li-accent {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue-highlight.png');
}
.list-style-none {
  list-style: none !important;
}
.carousel-de {
  width: 100%;
  height: 722px;
  margin-top: -194px;
}
.carousel-de .slide {
  position: absolute;
  inset: 0;
  height: 80%;
  width: 80%;
  border-radius: 100vmax;
}
.carousel-de .slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100vmax;
  box-shadow: -15px 15px 0px 5px #012c6d;
  -webkit-box-shadow: -15px 15px 0px 5px #012c6d;
  -moz-box-shadow: -15px 15px 0px 5px #012c6d;
}
.slide {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 6.01s;
}
.flip {
  animation-name: flip;
  animation-duration: 6s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
  }
}
.notification-bar {
  border-bottom: 5px solid #ea5e5d;
}
.top-nav {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: end;
}
.top-nav a {
  color: #012c6d;
}
@media (min-width: 48em) {
  .top-nav {
    flex-direction: row;
    padding-top: 0.75rem;
    gap: 1rem;
    justify-content: end;
  }
}
.nav {
  padding: 0.5rem 0 !important;
}
.nav .wide-container {
  padding: 0;
}
@media (min-width: 48em) {
  .nav .wide-container {
    --container-padding: 1rem;
  }
}
.nav-row-col img {
  width: 140px !important;
}
@media (min-width: 48em) {
  .nav-row-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 62.5em) {
  .nav-row-col img {
    width: unset !important;
  }
}
.nav-row-col .mega-menu-link {
  color: #012c6d;
  font-weight: 600 !important;
}
.nav .et_pb_image {
  margin: unset !important;
}
#mega-menu-item-225726 > a {
  height: unset !important;
}
#mega-menu-wrap-primary-menu > div {
  background: rgba(0, 0, 0, 0) !important;
}
#mega-toggle-block-0 > button > span > span {
  background-color: #012c6d !important;
}
#mega-toggle-block-0 > button > span > span::before,
#mega-toggle-block-0 > button > span > span::after {
  background-color: #012c6d !important;
}
@media (max-width: 47.99875em) {
  #mega-menu-primary-menu {
    background-color: #012c6d !important;
  }
}
.mega-menu-open .nav-row-col {
  display: block !important;
}
body {
  font-size: var(--fs-400);
  font-family: 'Poppins', sans-serif;
  color: #000;
}
.inner-hero {
  z-index: 100;
}
.inner-hero .flex-col-center {
  width: 100%;
}
@media (min-width: 1200px) {
  .inner-hero .flex-col-center {
    width: 47.25%;
  }
}
@media (min-width: 1200px) {
  .inner-content {
    margin-top: -72px;
    margin-bottom: 2rem;
  }
}
.inner-content .container-de .flex-lg {
  --gap: 0;
}
.inner-content ul {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue.png');
  margin-left: 2em;
}
.inner-content ul .first-li {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue-highlight-red.png');
}
@media (min-width: 1200px) {
  .inner-content-mt-0 {
    margin-top: 0;
  }
}
.footer-swooshes {
  margin-bottom: -2px;
}
.footer-section .footer-grid {
  --gap: 2rem;
}
.footer-section .footer-grid .btn-wrapper {
  --gap: 0.25rem;
}
.footer-section .footer-grid .btn-wrapper .btn:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (min-width: 62.5em) {
  .footer-section .footer-grid .btn-wrapper .btn {
    display: block;
    margin-bottom: 0;
  }
}
.footer-section .footer-grid .col-nums {
  --gap: 0.5rem;
}
.footer-section .footer-grid .footer-section-heading::before {
  content: '';
  min-height: 2px;
  min-width: 132px;
  top: 20px;
  position: absolute;
  background-color: #ea5e5d;
}
@media (min-width: 1000px) {
  .footer-section .footer-grid .footer-section-heading::before {
    min-width: 145px;
  }
}
.footer-section .footer-grid .social-icon-wrapper {
  --gap: 0.5rem;
}
@media (min-width: 1000px) {
  .footer-section .footer-grid .footer-logo-wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
  }
}
.footer-section .footer-grid .footer-logo-wrapper img {
  margin-inline: auto;
}
.footer-section .footer-grid .footer-logo-wrapper img:not(:last-child) {
  padding-bottom: 1rem;
}
.footer-section .et_pb_module {
  margin-bottom: 0 !important;
}
.footer-section-nav ul {
  list-style: none;
  margin-left: 0;
}
@media (min-width: 1000px) {
  .footer-section-nav ul {
    --gap: 2rem;
  }
}
.footer-section-nav ul a {
  color: #fff;
  text-decoration: none;
}
.footer-section-nav ul a:hover {
  transition: 0.5s;
  color: #ea5e5d;
}
.bottom-footer-section .et_pb_module {
  margin-bottom: 0 !important;
}
.components-section {
  background-color: #4682b4;
}
@media (min-width: 1200px) {
  .hero-section {
    clip-path: url(#hero-mask);
    clip-rule: nonzero;
  }
}
.hero-section .container-de {
  padding: 1rem 0 !important;
}
@media (min-width: 1200px) {
  .hero-section .container-de {
    padding-top: 7rem !important;
    padding-bottom: 10rem !important;
  }
}
.hero-section .container-de .col-img img {
  display: none;
}
@media (min-width: 1200px) {
  .hero-section .container-de .col-img img {
    display: block;
  }
}
@media (min-width: 1400px) {
  .hero-section .container-de .col-img img {
    margin-top: -100px;
  }
}
.content-accent-upper-swoosh {
  margin-bottom: -7.5px;
  display: none;
}
@media (min-width: 768px) {
  .content-accent-upper-swoosh {
    display: block;
  }
}
.content-section-accent {
  z-index: 888;
  padding: 1rem 0 !important;
}
@media (min-width: 768px) {
  .content-section-accent {
    padding: 5rem 0 !important;
  }
}
.content-section-accent ul {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue.png');
}
.content-section-accent ul .first-li {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue-highlight.png');
}
.content-section-accent .img-wrapper {
  position: relative;
  display: none;
}
@media (min-width: 1000px) {
  .content-section-accent .img-wrapper {
    display: block;
  }
}
.content-section-accent .img-wrapper img {
  top: -50px;
  box-shadow: -15px 15px 0px 5px #012c6d;
  -webkit-box-shadow: -15px 15px 0px 5px #012c6d;
  -moz-box-shadow: -15px 15px 0px 5px #012c6d;
  border-radius: 100vmax;
}
@media (min-width: 1100px) {
  .content-section-accent .img-wrapper img {
    top: -76px;
  }
}
@media (min-width: 1200px) {
  .content-section-accent .img-wrapper img {
    top: -120px;
  }
}
@media (min-width: 1400px) {
  .content-section-accent .img-wrapper img {
    top: -236px;
  }
}
.content-accent-lower-swoosh {
  margin-top: -9.5px;
  display: none;
}
@media (min-width: 768px) {
  .content-accent-lower-swoosh {
    display: block;
  }
}
.content-section {
  padding: 1rem 0 !important;
}
@media (min-width: 768px) {
  .content-section {
    padding: 0 !important;
  }
}
.content-section .img-module {
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  .content-section .img-module {
    display: unset;
    justify-content: unset;
  }
}
.content-section .img-module img {
  width: 202px !important;
  padding: 2.25rem 0 !important;
}
@media (min-width: 1000px) {
  .content-section .img-module img {
    width: auto !important;
    margin-left: unset !important;
    padding: unset !important;
  }
}
.content-section-top-heading {
  letter-spacing: 3px;
  text-transform: uppercase;
}
.content-section ul {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue.png');
}
.content-section ul .first-li {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue-highlight-red.png');
}
.content-section ul li::marker {
  margin-top: 50px;
}
.styled-list {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue.png');
}
.styled-list .first-li {
  list-style-image: url('https://dev4.growthbydesign.org/wp-content/uploads/2022/10/checkmark-blue-highlight-red.png');
}
.styled-list li::marker {
  margin-top: 50px;
}
.patriot-act img {
  border-radius: 26px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .patriot-act img {
    width: 50% !important;
  }
}
@media (min-width: 1000px) {
  .patriot-act img {
    width: 75% !important;
  }
}
@media (min-width: 768px) {
  .identity-flex {
    gap: 2rem;
  }
}
@media (max-width: 47.99875em) {
  .bod {
    margin-top: 1rem;
  }
}
@media (min-width: 1350px) {
  .bod .content-space-150 {
    padding: 0 !important;
  }
}
.bod .board-img img {
  width: 300px;
}
@media (max-width: 62.49875em) {
  .bod .board-img img {
    max-width: 200px;
  }
}
.page-template-about .inner-hero .ch-width {
  max-width: 70ch;
}
@media (min-width: 62.5em) {
  .page-template-about .about-section {
    margin-bottom: -3.6875rem;
  }
}
@media (min-width: 62.5em) {
  .page-template-about .content-accent-upper-swoosh {
    margin-top: -2.875rem;
  }
}
@media (min-width: 87.5em) {
  .page-template-about .content-accent-upper-swoosh {
    margin-top: -10.8125rem;
  }
}
@media (min-width: 62.5em) {
  .page-template-about .why-us {
    margin-top: -34px;
  }
}
.locations-section .locations-container {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.locations-section .location-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.locations-section .location-wrapper h3 {
  text-decoration: underline;
}
.cu-service-section .li-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media (min-width: 62.5em) {
  .cu-service-section .li-wrapper {
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 62.49875em) {
  .cu-service-section .highlight-a {
    margin-top: 1rem;
  }
}
.search-results .container .post-meta,
.search-no-results .container .post-meta {
  display: none;
}
.search-results .container #left-area .entry-title,
.search-no-results .container #left-area .entry-title {
  font-size: 1.5rem;
  color: #012c6d;
}
.search-results .container #sidebar .is-layout-flow,
.search-no-results .container #sidebar .is-layout-flow {
  display: none;
}
.search-results .container #sidebar .wp-block-latest-posts__list,
.search-no-results .container #sidebar .wp-block-latest-posts__list {
  display: none;
}
.search-results .container #sidebar .wp-block-search__button,
.search-no-results .container #sidebar .wp-block-search__button {
  background-color: #012c6d;
  color: #fff;
}
.search-results .container .pagination a,
.search-no-results .container .pagination a {
  color: #ea5e5d;
}
.loan-rates {
  display: grid;
  border: 1px solid #000;
}
@media (min-width: 62.5em) {
  .loan-rates {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.loan-rates .col {
  text-align: center;
}
.loan-rates .col .thead {
  border: 0.5px solid #000;
}
.loan-rates .col .bt-none {
  border-top: none;
}
.loan-rates .col .bl-none {
  border-left: none;
}
.loan-rates .col .br-none {
  border-right: none;
}
.loan-rates .col .bb-none {
  border-bottom: none;
}
