<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/GBD_Theme/dist/main.css">
  <title>Document</title>
</head>

<body>

  <div class="sm-container">
    <div class="rates-table">
      <table>
        <th colspan="2">
          General Fees
        </th>
        <tr>
          <td><strong>Account Reconciliation</strong></td>
          <td>$10.00 per hour</td>
        </tr>
        <tr>
          <td><strong>Account Research</strong></td>
          <td>$10.00 per hour</td>
        </tr>
        <tr>
          <td><strong>Cashier's Check</strong></td>
          <td>$5.00</td>
        </tr>
        <tr>
          <td><strong>Check Cashing</strong></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>$0.00 - $1,000.00</strong></td>
          <td>$5.00</td>
        </tr>
        <tr>
          <td><strong>$1,001 or More</strong></td>
          <td>$10.00</td>
        </tr>
        <tr>
          <td><strong>Deposit Return Item</strong></td>
          <td>$36.00 per item</td>
        </tr>
        <tr>
          <td><strong>Dormant Account(Waived for Freedom Checking)</strong></td>
          <td>$5.00/Month after 1 year and balance is > $100</td>
        </tr>
        <tr>
          <td><strong>Gift Card</strong></td>
          <td>$2.00</td>
        </tr>
        <tr>
          <td><strong>Money Gram Money Order</strong></td>
          <td>$1.50</td>
        </tr>
        <tr>
          <td><strong>Reloadable MasterCard</strong></td>
          <td>$3.00</td>
        </tr>
        <tr>
          <td><strong>Reopening Account</strong></td>
          <td>$15.00 if reopened with 6 Months</td>
        </tr>
        <tr>
          <td><strong>Returned Mail</strong></td>
          <td>$5.00</td>
        </tr>
        <tr>
          <td><strong>Shared Branch Transaction</strong></td>
          <td>$1.00 Transaction after 3 per Month</td>
        </tr>
        <tr>
          <td><strong>Wire Transfer(Outgoing)</strong></td>
          <td>$25 per Transfer</td>
        </tr>
        <tr>
          <th colspan="2">Checking Account Fees</th>
        </tr>
        <tr>
          <td><strong>NSF/ODP/Returned Item/Stop Payment</strong></td>
          <td>$36.00 per item</td>
        </tr>
        <tr>
          <td><strong>Overdraft Protection(Share Transfer)</strong></td>
          <td>$5.00</td>
        </tr>
        <tr>
          <td><strong>Share Draft Copy</strong></td>
          <td>$2.50</td>
        </tr>
        <tr>
          <th colspan="2">EFT Fees</th>
        </tr>
        <tr>
          <td><strong>ACH or Electronic Transmittal and NSF</strong></td>
          <td>$36.00</td>
        </tr>
        <tr>
          <td><strong>ATM Withdrawal</strong></td>
          <td>$1.00 per withdrawal after 6 per month</td>
        </tr>
        <tr>
          <td><strong>Card Replacement</strong></td>
          <td>$5.00</td>
        </tr>
        <tr>
          <th colspan="2">Specific Account Fees</th>
        </tr>
        <tr>
          <td><strong>Share - Excessive In - Branch Withdrawal</strong></td>
          <td>$5.00 After 2 per month</td>
        </tr>
        <tr>
          <td><strong>Share - Excessive Withdrawal(Reg D)</strong></td>
          <td>$5.00 After 6 per month</td>
        </tr>
        <tr>
          <td><strong>Christmas Club</strong></td>
          <td>$25.00 per Withdrawal if before Nov 1 or Dec 31</td>
        </tr>
        <tr>
          <td><strong>Vacation Club</strong></td>
          <td>$25.00 per Withdrawal after 2(Jun - May)</td>
        </tr>
        <tr>
          <td><strong>Share Draft Checking Monthly
              <br>
              Maintenance Fee
            </strong></td>
          <td>$7.00 per Month if no Direct Deposit Minimum $200</td>
        </tr>
        <tr>
          <td><strong>Freedom Checking Monthly
              <br>
              Maintenance Fee</strong></td>
          <td>$5.00 per Month waived with Direct Deposit No Minimum</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container-de">
    <div class="content-heading">Share Certificates</div>
    <p>Annual Percentage Yield is accurate as of June 1, 2020. Rates and other terms may change at any time without
      prior notice. After your certificate is opened, the dividend rate is fixed for the term. A penalty is imposed for
      early withdrawal. Fees could reduce earnings on the account.</p>
    <ul>
      <li>Dividends are compounded on the average daily balance and compounded quarterly.</li>
      <li>If you close your share account before dividends are paid, you will not receive the accrued dividends.</li>
    </ul>
  </div>

  <div class="sm-container">
    <div class="res-table">
      <table>
        <thead>
          <tr>
            <th scope="col">Certificate Type</th>
            <th scope="col">Rate</th>
            <th scope="col">Annual Percentage Yield</th>
            <th scope="col">Min. Initial Deposit</th>
            <th scope="col">Min. to Earn Dividends</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Certificate Type">6 Months</td>
            <td data-label="Rate">0.40%</td>
            <td data-label="Annual Percentage Yield">0.40%</td>
            <td data-label="Min. Initial Deposit">$500.00</td>
            <td data-label="Min. to Earn Dividends">$500.00</td>
          </tr>
          <tr>
            <td data-label="Certificate Type">12 Months</td>
            <td data-label="Rate">0.55%</td>
            <td data-label="Annual Percentage Yield">0.55%</td>
            <td data-label="Min. Initial Deposit">$500.00</td>
            <td data-label="Min. to Earn Dividends">$500.00</td>
          </tr>
          <tr>
            <td data-label="Certificate Type">24 Months</td>
            <td data-label="Rate">0.60%</td>
            <td data-label="Annual Percentage Yield">0.60%</td>
            <td data-label="Min. Initial Deposit">$1000.00</td>
            <td data-label="Min. to Earn Dividends">$1000.00</td>
          </tr>
          <tr>
            <td data-label="Certificate Type">36 Months</td>
            <td data-label="Rate">0.79%</td>
            <td data-label="Annual Percentage Yield">0.79%</td>
            <td data-label="Min. Initial Deposit">$1000.00</td>
            <td data-label="Min. to Earn Dividends">$1000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sm-container">
    <div class="res-table">
      <table>
        <thead>
          <tr>
            <th scope="col">Account Type</th>
            <th scope="col">Rate</th>
            <th scope="col">Annual Percentage Yield</th>
            <th scope="col">Min. Initial Deposit</th>
            <th scope="col">Min. to Earn Dividends</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Certificate Type">Share Savings</td>
            <td data-label="Rate">0.15%</td>
            <td data-label="Annual Percentage Yield">0.15%</td>
            <td data-label="Min. Initial Deposit">$25.00</td>
            <td data-label="Min. to Earn Dividends">$350.00</td>
          </tr>
          <tr>
            <td data-label="Certificate Type">Holiday Club Account</td>
            <td data-label="Rate">0.30%</td>
            <td data-label="Annual Percentage Yield">0.30%</td>
            <td data-label="Min. Initial Deposit">-</td>
            <td data-label="Min. to Earn Dividends">$350.00</td>
          </tr>
          <tr>
            <td data-label="Certificate Type">Vacation Club Account</td>
            <td data-label="Rate">0.35%</td>
            <td data-label="Annual Percentage Yield">0.35%</td>
            <td data-label="Min. Initial Deposit">-</td>
            <td data-label="Min. to Earn Dividends">$1000.00</td>
          </tr>
          <tr>
            <td data-label="Certificate Type">IRA Passbook (Regular, Educational, Roth)</td>
            <td data-label="Rate">0.35%</td>
            <td data-label="Annual Percentage Yield">0.35%</td>
            <td data-label="Min. Initial Deposit">$350.00</td>
            <td data-label="Min. to Earn Dividends">$350.00</td>
          </tr>
          <tr>
            <td data-label="Certificate Type">Money Market ($1,000.00 +)</td>
            <td data-label="Rate">0.25%</td>
            <td data-label="Annual Percentage Yield">0.25%</td>
            <td data-label="Min. Initial Deposit">$1000.00</td>
            <td data-label="Min. to Earn Dividends">$1000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sm-container">
    <div class="res-table">
      <table>
        <thead>
          <tr>
            <th scope="col">Holiday</th>
            <th scope="col">2022</th>
            <th scope="col">2023</th>
            <th scope="col">2024</th>
            <th scope="col">2025</th>
            <th scope="col">2026</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Holiday">New Year's Day</td>
            <td data-label="2022">January 1*</td>
            <td data-label="2023">January 1**</td>
            <td data-label="2024">January 1</td>
            <td data-label="2025">January 1</td>
            <td data-label="2026">January 1</td>
          </tr>
          <tr>
            <td data-label="Holiday">Martin Luther King Jr. Day</td>
            <td data-label="2022">January 17</td>
            <td data-label="2023">January 16</td>
            <td data-label="2024">January 15</td>
            <td data-label="2025">January 20</td>
            <td data-label="2026">January 19</td>
          </tr>
          <tr>
            <td data-label="Holiday">Washington's Birthday (Presidents Day)</td>
            <td data-label="2022">February 21</td>
            <td data-label="2023">February 20</td>
            <td data-label="2024">February 19</td>
            <td data-label="2025">February 17</td>
            <td data-label="2026">February 16</td>
          </tr>
          <tr>
            <td data-label="Holiday">Memorial Day</td>
            <td data-label="2022">May 30</td>
            <td data-label="2023">May 29</td>
            <td data-label="2024">May 27</td>
            <td data-label="2025">May 26</td>
            <td data-label="2026">May 25</td>
          </tr>
          <tr>
            <td data-label="Holiday">Juneteenth National Independence Day</td>
            <td data-label="2022">June 19**</td>
            <td data-label="2023">June 19</td>
            <td data-label="2024">June 19</td>
            <td data-label="2025">June 19</td>
            <td data-label="2026">June 19</td>
          </tr>
          <tr>
            <td data-label="Holiday">Independence Day</td>
            <td data-label="2022">July 4</td>
            <td data-label="2023">July 4</td>
            <td data-label="2024">July 4</td>
            <td data-label="2025">July 4</td>
            <td data-label="2026">July 4*</td>
          </tr>
          <tr>
            <td data-label="Holiday">Labor Day</td>
            <td data-label="2022">September 5</td>
            <td data-label="2023">September 4</td>
            <td data-label="2024">September 2</td>
            <td data-label="2025">September 1</td>
            <td data-label="2026">September 7</td>
          </tr>
          <tr>
            <td data-label="Holiday">Columbus Day</td>
            <td data-label="2022">October 10</td>
            <td data-label="2023">October 9</td>
            <td data-label="2024">October 14</td>
            <td data-label="2025">October 13</td>
            <td data-label="2026">October 12</td>
          </tr>
          <tr>
            <td data-label="Holiday">Veterans Day</td>
            <td data-label="2022">November 11</td>
            <td data-label="2023">November 11*</td>
            <td data-label="2024">November 11</td>
            <td data-label="2025">November 11</td>
            <td data-label="2026">November 11</td>
          </tr>
          <tr>
            <td data-label="Holiday">Thanksgiving Day</td>
            <td data-label="2022">November 24</td>
            <td data-label="2023">November 23</td>
            <td data-label="2024">November 28</td>
            <td data-label="2025">November 27</td>
            <td data-label="2026">November 26</td>
          </tr>
          <tr>
            <td data-label="Holiday">Christmas Day</td>
            <td data-label="2022">December 25**</td>
            <td data-label="2023">December 25</td>
            <td data-label="2024">December 25</td>
            <td data-label="2025">December 25</td>
            <td data-label="2026">December 25</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>

  <div class="sm-container">
    <div class="rates-table">
      <table>
        <th>
          Reasons we can share your personal information
        </th>
        <th>Does 1st Choice Credit Union share?</th>
        <th>Can you limit this sharing?</th>
        <tr>
          <td><strong>For nonaffiliates to market to you</strong></td>
          <td>No</td>
          <td>We don’t share</td>
        </tr>
        <tr>
          <td><strong>For our affiliates’ everyday business purposes –
            information about your creditworthiness</strong></td>
          <td>No</td>
          <td>
            We don’t share</td>
        </tr>
        <tr>
          <td><strong>For our affiliates’ everyday business purposes –
            information about your transactions and experiences</strong></td>
          <td>No</td>
          <td>
            We don’t share</td>
        </tr>
        <tr>
          <td><strong>For our everyday business purposes –
            such as to process your transactions, maintain your account(s), respond to court orders and legal investigations, or to report to credit bureaus.</strong></td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td><strong>For our marketing purposes –
            to offer our products and services to you.</strong></td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td><strong>For joint marketing with other financial companies</strong></td>
          <td>Yes</td>
          <td>No</td>
        </tr>


      </table>
    </div>
  </div>


  <div class="sm-container">
    <div class="res-table">
      <table>
        <thead>
          <tr>
            <th scope="col">Reasons we can share your personal information</th>
            <th scope="col">Does 1st Choice Credit Union share?</th>
            <th scope="col">Can you limit this sharing?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Reasons we can share your personal information">For nonaffiliates to market to you</td>
            <td data-label="Does 1st Choice Credit Union share?">No</td>
            <td data-label="Can you limit this sharing?">We don’t share</td>
          </tr>
          <tr>
            <td data-label="Reasons we can share your personal information">For our affiliates’ everyday business purposes –
              information about your creditworthiness</td>
            <td data-label="Does 1st Choice Credit Union share?">No</td>
            <td data-label="Can you limit this sharing?">We don’t share</td>
          </tr>
          <tr>
            <td data-label="Reasons we can share your personal information">For our affiliates’ everyday business purposes –
              information about your transactions and experiences</td>
            <td data-label="Does 1st Choice Credit Union share?">No</td>
            <td data-label="Can you limit this sharing?">We don’t share</td>
          </tr>
          <tr>
            <td data-label="Reasons we can share your personal information">For our everyday business purposes –
              such as to process your transactions, maintain your account(s), respond to court orders and legal investigations, or to report to credit bureaus.</td>
            <td data-label="Does 1st Choice Credit Union share?">Yes</td>
            <td data-label="Can you limit this sharing?">No</td>
          </tr>
          <tr>
            <td data-label="Reasons we can share your personal information">For our marketing purposes –
              to offer our products and services to you.</td>
            <td data-label="Does 1st Choice Credit Union share?">Yes</td>
            <td data-label="Can you limit this sharing?">No</td>
          </tr>
          <tr>
            <td data-label="Reasons we can share your personal information">For joint marketing with other financial companies</td>
            <td data-label="Does 1st Choice Credit Union share?">Yes</td>
            <td data-label="Can you limit this sharing?">No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</body>

</html>