@use '/src/sass/abstracts/'as *;

.abs{
    position: absolute !important;
  }
  
  .rel{
    position: relative;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-start {
    text-align: start;
  }
  
  .text-start-lg{
    @media(min-width:$lg){
      text-align: start;
    }
  }

  .z-200{
    z-index: 200;
  }

  .display-lg{
    display: none !important;
    @media(min-width: $lg){
      display: block !important;
    }
  }

  // .display-flex-lg{
  //   display: none !important;
  //   @media(min-width: $lg){
  //     display: flex !important;
  //   }
  // }

  .display-flex-xl{
    display: none !important;
    @media(min-width: $xl){
      display: flex !important;
    }
  }

  .display-xl{
    display: none !important;
    @media(min-width: $xl){
      display: block !important;
    }
  }