@use "/src/sass/abstracts/"as *;

// .swooshhh {
//   @media (min-width: $xl) {
//     clip-path: url(#hero-mask);
//     clip-rule: nonzero;
//   }
// }

.blue-svg-wrapper {
  .top-svg {

    // display: none;
    // @include breakpoint(md) {
    //   display: unset;
    // }
    @include breakpoint(xxl) {
      margin-top: -229px;
    }
  }

  .blue-bar {
    min-height: 16px;
    color: $clr-primary-400;
    background-color: $clr-primary-400;
    margin-top: -3px;
    margin-bottom: -3px;

    @include breakpoint(md) {
      min-height: 50px;
    }
  }

  .bot-svg {
    display: none;

    @include breakpoint(md) {
      display: unset;
    }

    @include breakpoint(xxl) {
      margin-bottom: -124px;
      display: unset;
    }
  }
}

.wide-sw-fix {
  @media(min-width:1800px) {
    margin-top: -2px;
  }
}

.wide-sw-fix-500 {
  @media(min-width:1800px) {
    margin-top: -5px !important;
  }
}