@use '/src/sass/abstracts/'as *;

.footer-swooshes {
    margin-bottom: -2px;
}

.footer-section {

    .footer-grid {
        --gap: 2rem;

        .btn-wrapper {
            --gap: 0.25rem;

            .btn {
                &:not(:last-child){
                    margin-bottom: 0.5rem;
                }
                @media(min-width:$lg) {
                    display: block;
                    margin-bottom: 0;
                }
            }
        }

        .col-nums {
            --gap: 0.5rem
        }

        .footer-section-heading {

            &::before {
                content: "";
                min-height: 2px;
                min-width: 132px;
                top: 20px;
                position: absolute;
                background-color: $clr-accent-400;
                @media(min-width:$lg){
                    min-width: 167px;
                }
            }
        }

        .social-icon-wrapper {
            --gap: 0.5rem;
        }

        .footer-logo-wrapper {
            @media(min-width:$lg) {
                display: grid;
                grid-template-columns: repeat(4, auto);
                gap: 1rem;
            }

            img{
                margin-inline: auto;
                &:not(:last-child){
                    padding-bottom: 1rem;
                }
            }

        }
    }

    .et_pb_module {
        margin-bottom: 0 !important;
    }

    &-nav {
        ul {
            list-style: none;
            margin-left: 0;
            @media(min-width:$lg){
                --gap: 2rem;
            }
           
            a {
                color: $clr-neutral-100;
                text-decoration: none;

                &:hover {
                    transition: 0.5s;
                    color: $clr-accent-400;
                }
            }
        }
    }
}

.bottom-footer-section {
    .et_pb_module {
        margin-bottom: 0 !important;
    }
}